a {
  color: magenta;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffe81f;
}

h1 {
  color: #ffe81f;
}

marquee {
  transform: perspective(200px) rotateX(40deg);
}

body {
  background-image: url("stars.jpeg");
  background-size: 150%;
}
